<form action="">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" style="width: 110px" class="input" placeholder="resultado">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type="text" class="input" placeholder="Descrição">
                </p>
            </div>
            <div class="field is-narrow">
                 <button class="button is-primary" >Add</button>
            </div>

        </div>
    </div>
</form>