@import '../../main-styles.scss';

.budget-items-section {
  display: flex;
  padding: 50px;

  align-items: center;
  justify-content: center;


  .budget-items-container {
    display: flex;
    max-width: 680px;
    height: 100%;
    width: 100%;

    .buget-itens {
      display: flex;
      flex-direction: column;

      margin-top: 20px;
    }

    .expenses-column,
    .income-column {

      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      h1 {
        font-family: 'Lato', serif;
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;

      }

    }

    .income-column {
      margin-right: 35px;

      h1 {
        color: $green;
      }
    }

    .expenses-column {
      h1 {
        color: $red;
      }
    }
  }
}
