<section class="buget-items-section">
    <div class="buget-items-container">
        <div class="income-column">
            <h1>Income</h1>
            <div class="buget-itens">
                <app-buget-item-card style="margin-bottom: 20px;"></app-buget-item-card>
                <app-buget-item-card style="margin-bottom: 20px;"></app-buget-item-card>
            </div>
        </div>
        <div class="expenses-column">
            <h1>Expenses</h1>
            <div class="buget-itens">
                <app-buget-item-card style="margin-bottom: 20px;"></app-buget-item-card>
                <app-buget-item-card style="margin-bottom: 20px;"></app-buget-item-card>
            </div>
        </div>
    </div>
</section>