<div class="topbar">
    <h1>Calculadora de Orçamento</h1>



</div>

<section class="total-buget-section">
    <h2>1500</h2>
</section>

<section class="add-item-section">
    <div class="add-item-container">
        <app-add-item-form style="padding: 20px;"></app-add-item-form>
    </div>
</section>

<hr style="margin-top:0;">

<section class="add-item-section">
    <div class="add-item-container">
        <app-buget-item-list style="padding: 20px;"></app-buget-item-list>
    </div>
</section>